/*font import from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mountains+of+Christmas:wght@400;700&display=swap');



/*-------------------Colors*/
body {
    background-image: url("../images/background-main.jpg");
    background-color: #000000;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/*-------------------Headings*/
.main-heading {
    font-family: 'Mountains of Christmas', sans-serif;
    font-size: 80px;
    font-weight: 800;
    color: #2e2929;
    margin: 50px 50px 0 50px;
}

.logo-heading {
    font-family: 'Lato', sans-serif;
    color: rgba(50, 82, 22, 0.7);
    margin: 5px 50px 30px 50px;
}

section .heading {

    color: rgba(233, 250, 237, 0.9);
    text-align: center;
    vertical-align: middle;
    margin: 20px 0;
}

.form-conatiner h4 {
    text-align: center;
    letter-spacing: 3px;
    margin: 20px 0;
}

.form-conatiner h5 {
    margin: 40px 0 20px 0;
}
.form-conatiner p {
    font-size: 15px;
    text-align: justify;
}



/*-------------------Header*/
.main-header {
    margin: 0;
    padding: 0;

}

.nav-menu {
    margin: 0 50px 100px 50px;
}



.nav-menu li {
    text-align: center;
    margin: 0 auto;
    border-radius: 25px;
    padding: 1px;
}

.nav-menu li a {
    color: #e9faed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 80%;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid #2e2929;
    border-radius: 25px;
    padding: 5px 2px;
}


/* :hover style taken from tutorials, before setting the same width of hover, the pseudoclass was rendering with nonstandard rendering customised with hover collections https://ianlunn.github.io/Hover/*/
.nav-menu li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    border-radius: 25px;
}

/*active doesn't work, let's see if it is a problem with the none-existing subpages
.active:active {
    color: rgba(235, 11, 11, 0.6);
}*/


/*-------------------Hover.css */
/* :hover style taken from tutorials, customised with hover collections https://ianlunn.github.io/Hover/*/
.hvr-radial-out:before {
    background-color: rgba(50, 82, 22, 0.6);
    border-radius: 25px;
    width: 100%;


}

/*-------------------Main section - general*/
.heading-container {
    background-color: rgb(152, 0, 0, 0.4);
    border: 3px solid rgb(152, 0, 0, 0.01);
    margin-bottom: 20px;
    padding: 0;
}

.section-viewport {
    max-width: 90%;
    margin: 0 auto;

}


/*-------------------Carousel*/

/*adjusting the size, code advise on https://forum.bootstrapstudio.io/*/
#carouselExampleControls {
    width: 750px;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 2px;
    border: 6px solid #2e2929;
}

/*-------------------Reason Container Content*/


.reasons-content-general {
    background-image: url("../images/why-container-background.jpg");
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px 32px;
    border: 3px solid #e9faed;
    border-radius: 2px;
}

.card-margin .card {
    border: 2px solid #e9faed;
}

.card-margin .card-body {
    text-align: center;
}

.card-margin .card-body p {
    min-height: 150px;
}

.card-margin .card-body h5 {
    min-height: 50px;
}


.card-margin {
    padding: 16px;
}

/*-------------------Join-me Container*/
.joinme-content-general {
    background-image: url("../images/join-me-container-background.jpg");
    background-color: #ffffff;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px 32px;
    border: 3px solid #e9faed;
    border-radius: 2px;
    color: #e9faed;
}

/*-------------------Form*/
.letter-form {
    background-color:rgba(50, 82, 22, 0.5);
    margin: 60px 0;
    padding: 20px;
    border-radius: 2px;
}

.form-control {
    background-color: rgba(211, 224, 197, 0.8);
    
}
        /*.focus pseudoclass found on https://stackoverflow.com/questions/42134731/css-change-button-style-after-click*/
.form-control:focus {
    background-color: rgba(211, 224, 197, 0.5) !important;
    border: none !important;
}


/*-------------------Buttons*/
.btn {
    background-color: rgba(50, 82, 22, 0.7);
    border: 1px solid #2e2929;
    color: #e9faed;
}

.btn:hover {
    background-color: #2e2929;
    color: #e9faed;
}

/* .focus pseudoclass found on https://stackoverflow.com/questions/42134731/css-change-button-style-after-click*/
.btn:focus {     
    background-color:rgb(152, 0, 0, 0.4);
    font-weight: 700;
    color: black;
}

.button-container {       
    text-align: center;
}

/*------------------- Footer */
footer {
    height: 100px;
    margin-top: 100px;
    padding: 0;
}

.container-fluid {
    padding: 0;
}


.social-links {
    text-align: center
}


.social-links li a i {

    width: 55px;
    height: 55px;
    padding: 25px 0;
    margin: 0 15px;
    border-radius: 50%;
    font-size: 35px;
    line-height: 7px;
    text-align: center;
    color: rgba(233, 250, 237, 0.9);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: rgba(50, 82, 22, 0.6);
}


/*-------------------Media Queries */

@media only screen and (max-width: 575px) {
    header {
        text-align: center;
    }

    .main-heading {
        font-size: 70px;
        margin: 20px 15px 3px 15px;
    }

    .logo-heading {
        margin: 0 15px 30px 15px;
    }

    .form-conatiner h4 {
        text-align: center;
        letter-spacing: 3px;
        margin: 20px 0;
    }

    section .heading{
        margin-left: 15px;
        margin-right: 15px;
    
    }

    .form-conatiner h5 {
        text-align: center;
    }

    .nav-menu {
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .nav-menu li {
        margin-bottom: 10px;
    }

    .nav-menu li a {
        width: 80%;
        height: 40px;
        padding-top: 5px;



    }

    .nav-menu li a:hover {
        width: 85%;
        border-radius: 25px;
    }
    .section-viewport {
        max-width: 100%;
    }
    .reasons-content-general {
        background:none;
        border: none;
        padding-left: 0;
        padding-right: 0;
    }

    .card-margin {
        padding: 0px;
        border: none;
    }

    .card-margin .card {
        border: none;
    }

    .joinme-content-general {
        padding-left: 15px;
        padding-right: 15px;
    }

    footer {
        margin-top: 60px;
        /* position: relative;*/
    }

    .back-to-top a {
        color: white;
        text-decoration: none;
        float: right;
        margin-bottom: 60px;
    }


    #carouselExampleControls {

        max-width: 100%;
        margin: 0 auto;
    }

}