/*font import from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mountains+of+Christmas:wght@400;700&display=swap');



/*-------------------Colors*/
body {
    background-image: url("../images/background-main.jpg");
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/*-------------------Header*/
.main-header {
    margin: 0;
    padding: 0;
    
}

.main-heading {
    font-family: 'Mountains of Christmas', sans-serif;
    font-size: 80px;
    font-weight: 800;
    color: #2e2929;
    margin: 50px 50px 0 50px;
}

.logo-heading {
    font-family: 'Lato', sans-serif;
    color: rgba(50, 82, 22, 0.7);
    margin: 5px 50px 30px 50px;
}

.nav-menu {
    margin: 0 auto;
    margin-bottom: 100px;
}

.nav-menu li a {
    color: #e9faed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 130px;
    font-weight: 700;
    border: 2px solid #2e2929;
    border-radius: 25px;

}

.nav-menu li {
    text-align: center;
}

/* :hover style taken from tutorials, before setting the same width of hover, the pseudoclass was rendering with nonstandard rendering customised with hover collections https://ianlunn.github.io/Hover/*/
.nav-menu li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    width: 140px;
    border-radius: 25px;


}

/*active doesn't work, let's see if it is a problem with the none-existing subpages*/
a:active {
    color: rgba(235, 11, 11, 0.6);
}

/*-------------------Hover.css */
/* :hover style taken from tutorials, customised with hover collections https://ianlunn.github.io/Hover/*/
.hvr-radial-out:before {
    background-color: rgba(50, 82, 22, 0.3);

}



/*-------------------Carousel*/

/*adjusting the size, code advise on https://forum.bootstrapstudio.io/*/
#carouselExampleControls {
    width: 750px;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 2px;
    border: 6px solid #2e2929;
}

/*------------------- Footer */
footer {
    height: 100px;
    margin-top: 100px;
    padding: 0;
}

.container-fluid {
    padding: 0;
}


.social-links {
    text-align: center
}


.social-links li a i {

    width: 55px;
    height: 55px;
    padding: 25px 0;
    margin: 0 15px;
    border-radius: 50%;
    font-size: 35px;
    line-height: 7px;
    text-align: center;
    color: rgba(233, 250, 237, 0.9);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: rgba(50, 82, 22, 0.8);
}


/*-------------------Media Queries */

@media only screen and (max-width: 575px) {
    header {
        text-align: center;
    }

    .main-heading {
        font-size: 70px;
        margin: 20px 15px 3px 20px;
    }

    .logo-heading {
        margin: 0 15px 30px 15px;
    }

    .nav-menu {
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .nav-menu li {
        margin-bottom: 10px;
    }

    .nav-menu li a {
        width: 80%;
        height: 40px;
        margin: 0 auto;
        padding: 0 auto;
    }

    footer {
        margin-top: 60px;
    }

    .nav-menu li a:hover {
        background-color: rgba(0, 0, 0, 0.1);
        width: 90%;
        border-radius: 25px;
    }

    #carouselExampleControls {

        max-width: 90%;
        margin: 0 auto;
    }
}